
@{
    ViewBag.Title = "CountryMaster";
}
<script src="~/Script/CountryMaster.js"></script>
<h2>CountryMaster</h2>
<table>
    <tr>
        <td>Country Code</td>
        <td><input type="text" id="txtCountryCode" maxlength="10" /></td>
    </tr>
    <tr>
        <td>Country Name</td>
        <td><input type="text" id="txtCountryName" maxlength="50"/></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="button" id="btnSave">Save</button></td>
    </tr>
</table>
<div id="dvGrid">

</div>
